#footer {
    background: #366061;
    color: #fff;
    .container {
        width: 80%;
        margin: 0 auto;
    }
}

.footer {
    padding: 3rem;
    display: flex;
    justify-content: space-around;

    div {
        text-align: center;
        h4 {
            margin: 2rem 0;
        }
        .icons {
            i {
                margin: 0.5rem;
            }
        }
    }
    .office-address {
        grid-area: office;
    }
    .follow-us {
        grid-area: follow;
    }
    .contact-us {
        grid-area: contact;
        text-align: center;
    }
}
